<div class="ceramics-categories-page">
    <div class="view">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <!-- <div class="container text-center white-text">
                    <div class="section-texts-intro white-text text-center wow fadeInUp">
                        <br>
                        <p>Full page intro with background image will be always displayed?</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="interiors-page-heading mt-3 mb-3">
            {{ 'CERAMICS_INTERIORS_PAGE.heading' | translate }}
        </h3>
        <div class="row">
            <pkl-category-tile *ngFor='let interiorData of interiorDesciptions'
              class="col-md-4 col-sm-6 col-12 mb-2"
              [categoryImage]="interiorData"
              [categoryRoute]="interiorData?.imageTag">
            </pkl-category-tile>
        </div>
        <div class="interiors-page-text">
            <p class="gallery-page-description">
                {{ 'CERAMICS_INTERIORS_PAGE.description' | translate }}
            </p>
        </div>
    </div>    
</div>