@import 'src/styles.scss';

.category-name-section {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    .category-name-text {
        font-weight: 400;
        line-height: 2rem;
        font-size: 2rem;
        color: $text-color-dark;
    }
}

div.shadow-effect:hover {
    box-shadow: 2px 2px 10px 5px rgba(28, 35, 49, .05);
    transition: box-shadow 0.2s ease-in-out;
}