@import 'src/styles.scss';

.category-name-section {
    .category-name-text {
        font-weight: 400;
        line-height: 2rem;
        font-size: 2rem;
        color: $text-color-default;
    }
}

.shadow-effect {
    box-shadow: 0 0 30px rgba($color: black, $alpha: 1);
}