<div class="carousel-page">
    <div class="container">
        <pkl-carousel [images]='templateSettings.templateImages'></pkl-carousel>
        <div class="carousel-page-text">
            <h3 class="carousel-page-title">
                {{ templateSettings?.templateHeading | translate }}
            </h3>
            <p class="carousel-page-description">
                {{ templateSettings?.templateText | translate }}
            </p>
        </div>
        <ng-container *ngTemplateOutlet="customTemplate"></ng-container>
    </div>
</div>