@import 'src/styles.scss';

$intro-image-height: 34%;

.main-page {
  height: calc(100vh - #{$total-nav-height});
}

.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
  height: $intro-image-height / 2;
}

main {
  min-height: 100% - $intro-image-height / 2;
  background-color: $background-color;
  color: $text-color-default;
}

.section-texts-intro {
  margin-top: 20px;
}

.text-brand {
  font-size: 3rem;
}

.nav-button {
  min-width: 75%;
}

@media (min-width: 576px) { 
  .text-brand {
    font-size: 4rem;
  }
}

@media (min-width: 768px) { 
  .nav-button {
    min-width: 50%;
  }

  .text-brand {
    font-size: 5rem;
  }

  .view {
    height: $intro-image-height;
  }

  main {
    min-height: 100% - $intro-image-height;
  }  

}