<div class="about-us-page">
    <div class="view">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <!-- <div class="container text-center white-text">
                    <div class="section-texts-intro white-text text-center wow fadeInUp">
                        <br>
                        <p>Full page intro with background image will be always displayed?</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="about-page-content col-12">
                <h2>{{ 'ABOUT_US_PAGE.heading' | translate }}</h2>
                <p>{{ 'ABOUT_US_PAGE.description' | translate }}</p>
            </div>
        </div>
    </div>    
</div>
