<!--Main Layout-->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let image of images" class="carousel-item-size">
      <div class="view w-80 text-center">
        <img class="d-block w-100" [src]="image.imageAddress" [alt]="image.imageCaption">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ image.imageCaption }}</h3>
        <p>{{ image.imageSecondaryText }}</p>
      </div>
    </mdb-carousel-item>
</mdb-carousel>
<!--Main Layout-->