@import 'src/styles.scss';

.contacts-page {
    background-color: $background-color;
    // padding: 1rem 0;
    min-height: calc(100vh - #{$total-nav-height});
    .view {
        background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
        background-size: cover;
        height: $total-nav-height;
    }
    .container {
        padding-top: $total-nav-height;
        .row {
            display: flex;
            padding-bottom: 1rem;
            .all-contacts {
                color: $text-color-default;
            }
            .list-group-item {
                background-color: $background-color;
                .contact-detail {
                    margin-left: 1rem;
                    width: 75%;
                }
            }
            .contacts-form {
                background-color: $background-color;
                color: $text-color-default;
                display: flex;
                flex-direction: column;
                .form-control {
                    color: $text-color-default;
                    background-color: #3b465e;
                }
                .form-control:focus {
                    color: $text-color-default;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .row.separator [class*='col-md']:not(:last-child):after {
        background: $text-color-default;
        width: 1px;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        min-height: 70px;
        display: block;
    }
}