<div class="contacts-page">
    <div class="view">
        <div class="full-bg-img">
            <div class="mask rgba-black-light flex-center">
                <!-- <div class="container text-center white-text">
                    <div class="section-texts-intro white-text text-center wow fadeInUp">
                        <br>
                        <p>Full page intro with background image will be always displayed?</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row separator">
            <div class="all-contacts text-center col-sm-12 col-md-6">
                <p class="h4 mb-4 pt-3">{{ "CONTACTS_PAGE.contacts_heading" | translate }}</p>
                <ul class="list-group ">
                    <li class="list-group-item">
                        <a class="">
                            <mdb-icon fab icon="facebook-f"></mdb-icon>
                            <span class="contact-detail">45465465</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="">
                            <mdb-icon fab icon="telegram-plane"></mdb-icon>
                            <span class="contact-detail">45465465</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="">
                            <mdb-icon fab icon="viber"></mdb-icon>
                            <span class="contact-detail">45465465</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Default form contact -->
            <form 
              class="contacts-form text-center px-5 py-3 col-sm-12 col-md-6"
              [formGroup]="contactForm"
              (ngSubmit)="onSubmitToBot()"
            >
                <p class="h4 mb-4">{{ "CONTACTS_PAGE.CONTACT_FORM.heading" | translate }}</p>
            
                <!-- Name -->
                <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
                class="form-control mb-4" [placeholder]="'CONTACTS_PAGE.CONTACT_FORM.name' | translate">
            
                <!-- Email -->
                <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
                class="form-control mb-4" [placeholder]="'CONTACTS_PAGE.CONTACT_FORM.email' | translate">
            
                <!-- Message -->
                <div class="form-group">
                <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
                    rows="3" [placeholder]="'CONTACTS_PAGE.CONTACT_FORM.message' | translate"></textarea>
                </div>
            
                <!-- Copy -->
                <!-- <mdb-checkbox formControlName="contactFormCopy" class="mb-4">{{ "CONTACTS_PAGE.CONTACT_FORM.send_copy_label" | translate }}</mdb-checkbox> -->
            
                <!-- Send button -->
                <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
                mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">{{ "CONTACTS_PAGE.CONTACT_FORM.button" | translate }}</button>
            
            </form>
            <!-- Default form contact -->
        </div>  
    </div>    
</div>
