@import 'src/styles.scss';

.gallery-page {
    min-height: calc(100vh - #{$total-nav-height});
    background-color: $background-color;
    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $text-color-default;
        // .gallery-page-heading,  .gallery-page-text {
        //     margin-top: 1rem;
        // }
    }
}