<div class="gallery-page">
    <div class="container">
        <h3 class="gallery-page-heading mt-3 mb-3">
            {{ templateSettings?.templateHeading | translate }}
        </h3>
        <pkl-preloader *ngIf="!templateSettings?.templateImages"></pkl-preloader>
        <pkl-images-placeholder *ngIf="templateSettings?.templateImages.length === 0"></pkl-images-placeholder>
        <pkl-gallery [images]="templateSettings?.templateImages"></pkl-gallery>
        <div class="gallery-page-text mt-3 mb-3">
            <p class="gallery-page-description">
                {{ templateSettings?.templateText | translate }}
            </p>
        </div>
        <ng-container *ngTemplateOutlet="customTemplate"></ng-container>
    </div>
</div>